.card-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 1rem;
    align-items: center;
}
@media screen and (max-width: 1000px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 1rem;
        align-items: center;
    }
}
@media screen and (max-width: 800px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 1rem;
        align-items: center;
    }
}
@media screen and (max-width: 450px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap: 1rem;
        align-items: center;
    }
}

.card {
    margin: 6% 15% 6% 15%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 260px;
}

.card-img-top {
    padding: 0.8em;
    border-radius: 1em;
    width: 100%;
}

.product-text {
    margin: 0;
}

.card-title {
    text-align: center;
    text-transform: capitalize;
    color: darkgreen;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-overflow: ellipsis;
    margin-top: 10px;
}
