.home-title {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: green;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 1rem;
    align-items: center;
}
@media screen and (max-width: 1000px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 1rem;
        align-items: center;
    }
}
@media screen and (max-width: 800px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 1rem;
        align-items: center;
    }
}
@media screen and (max-width: 450px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap: 1rem;
        align-items: center;
    }
}

.card {
    margin: 0 10% 0 10%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 265px;
}

.card-img-top {
    padding: 0.8em;
    border-radius: 1em;
    width: 100%;
}

.product-text {
    margin: 0;
}

.card-title {
    text-align: center;
    text-transform: capitalize;
}
