main {
    background-image: url("https://i.imgur.com/7f4UJcP.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-title {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: lightcyan;
    text-align: center;
}
